{{#each classrooms as |class|}}
  {{log class}}
  <section data-id="{{class.id}}" class ='dream_listing v'>
    <div class="dream-box">
    <h3>
      {{class.date}}
    </h3>
    <h6>Mood:</h6>
    <h3>
      {{dream.mood}}
    </h3>
    <h6>Body:</h6>
    <p>
    <h3>
      {{limit dream.body 30}}
    </h3>
  </p>
  <button data-id="{{dream.id}}" class="btn btn-danger read"> Read More </button>
  </div>
  </section>

{{/each}}
