<section data-id="{{quiz._id}}" class="single-quiz">
  <p>{{quiz.title}}</p>

{{#each quiz.questions as |question| }}
<p>Question #{{question.questionNumber}}.</p>
  <form id="edit-question" data-id="{{question._id}}">
    <div class="form-group">
      <input type="text" class="form-control inputs" name="question[title]" placeholder="{{question.title}}">
      <br>
      <input type="text" class="form-control inputs" name="question[correctAnswer]" placeholder="{{question.correctAnswer}}">
      <input type="text" class="form-control inputs" name="question[answerTwo]" placeholder="{{question.answerTwo}}">
      <input type="text" class="form-control inputs" name="question[answerThree]" placeholder="{{question.answerThree}}">
      <input type="text" class="form-control inputs" name="question[answerFour]" placeholder="{{question.answerFour}}">
      <br>
      <!-- <input type="text" class="form-control inputs" name="question[quizOwner]" placeholder="Quiz ID" required> -->
      <button type="submit" class="btn primary-btn next-question-edits">Save Question</button>
    </div>
  </form>
  <button class="btn btn-dark delete-question" data-id="{{question._id}}">Delete Question</button>
  {{/each}}
  <!-- <button type="submit" class="btn btn-dark next-question">Next Question</button> -->
  <button class="btn primary-btn add-question">Add New Question</button>
  <button type="submit" class="btn primary-btn finish-quiz-edits">Finish</button>
</section>
