
  <section data-id="{{quiz._id}}">
    <p>{{quiz.title}}</p>
    <!-- section for scheduling quizzes for classrooms should go here -->
    {{#each quiz.questions as |question|}}
      <section data-id="{{question._id}}">
        <p>{{question.title}}</p>
        <p>{{question.correctAnswer}}</p>
        <button class="btn btn-danger delete-question" data-id="{{question._id}}">Delete</button>
      </section>
    {{/each}}
  </section>
