  <section data-id="{{quiz._id}}" class="single-quiz">
    <h4>{{quiz.title}}</h4>
    <!-- section for scheduling quizzes for classrooms should go here -->
    {{#if quiz.startTime}}
      <p>This quiz is scheduled for {{date quiz.startTime}} in: {{#each quiz.classroom as |classroom|}} {{classroom.classname}} {{/each}}</p>
      {{else}}
        <div class="schedule-quiz-bar">
          <h6>Schedule Quiz to Individual Classroom:</h6>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle classroom-list-schedule schedule-quiz-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Classroom
            </button>
            <div class="dropdown-menu classroom-dropdown" data-quizId={{quiz._id}}>
              <!-- <a class="dropdown-item" href="#">Action</a> -->
            </div>
          </div>
          <form class="schedule-quiz schedule-quiz-item">
            <input type="datetime-local" class="form-control inputs schedule-quiz-item quiz-date-time" name="quiz[startTime]" required>
            <p class="schedule-quiz-item">Show quiz in classroom?</p>
            <input type="radio" id="true" name="quiz[isActive]" value="true">
            <label for="true">Yes</label>
            <input type="radio" id="false" name="quiz[isActive]" value="false">
            <label for="false">No</label>
            <button type="submit" class="btn primary-btn sq">Schedule Quiz!</button>
          </form>
        </div>
      {{/if}}

      <!-- {{#unless quiz.isActive}}
        <hr>
        <form class="make-quiz-active" data-id="{{quiz._id}}">
          <p>Your quiz is currently hidden from your classroom. Show it now?</p>
          <button type="submit" class="btn primary-btn" name=quiz[isActive] value="true">Show quiz in classroom!</button>
        </form>
        <hr>
      {{/unless}} -->

      {{#if quiz.isActive}}
        <form class="make-quiz-active" data-id="{{quiz._id}}">
          <p>Your quiz is showing in your classroom. Hide it?</p>
          <button type="submit" class="btn primary-btn" name=quiz[isActive] value="false">Hide quiz from classroom!</button>
        </form>
        <hr>
        {{else}}
        <hr>
        <form class="make-quiz-active" data-id="{{quiz._id}}">
          <p>Your quiz is currently hidden from your classroom. Show it now?</p>
          <button type="submit" class="btn primary-btn" name=quiz[isActive] value="true">Show quiz in classroom!</button>
        </form>
        <hr>
      {{/if}}

    <table class="table table-striped table-bordered survey-list" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th th-title">Questions</th>
          <th class="th">Correct Answer</th>
          <th class="th">Answer Two</th>
          <th class="th">Answer Three</th>
          <th class="th">Answer Four</th>
          <!-- <th class="th"></th> -->
        </tr>
      </thead>
      <tbody>
        {{#each quiz.questions as |question|}}
          <section data-id="{{question._id}}">
            <tr>
              <td class="td-title col-6 single-question-link" data-id="{{question._id}}">{{question.title}}</td>
              <td class="td-title col-6">{{question.correctAnswer}}</td>
              <td class="td-title col-6">{{question.answerTwo}}</td>
              <td class="td-title col-6">{{question.answerThree}}</td>
              <td class="td-title col-6">{{question.answerFour}}</td>
              <!-- <td>
            <svg class="bi bi-pencil-square edit-quiz-link" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
            </svg>
          </td> -->
            </tr>
          </section>
        {{/each}}
  </section>

  <button class="btn primary-btn quiz-to-teacher-dash">Back to Teacher Dash</button>
